
      <div class="jumbotron">
        <h1>{ &raquo;Syncronize }</h1>
        <br>
      </div>

      <h1>search</h1>
      <div>
        <%= form_tag('/favorite/youtube') do %>
          <%= text_field 'search_keys', 'name' %>
          <%= submit_tag "enter" %>
        <% end %>
      </div>

      <br><br>

      <div>
        <%= link_to "crawl! test >>", '/top/crawl', :class => "btn btn-success btn-lg" %>
      </div>
<bR>
  <% count = 0 %>
    <table border=1>
      <tr>
        <th>#</th>
        <th>title</th>
        <th>url</th>
        <th>date</th>
      </tr>
      <% loop { %>
        <tr>
          <td><%= count + 1 %></td>
          <td><%= @map4[0][count] %></td>
          <td><%= @map4[1][count] %></td>
          <td><%= @map4[2][count] %></td>
        </tr>
        <% count += 1 %>
        <% if count == @map4[0].size then break end %>
      <% } %>
    </table>
