<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @test.memo %>
</p>

<p>
  <strong>Memo2:</strong>
  <%= @test.memo2 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
